<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/auth.css">
    <!-- Importar JS específicos -->
    <script src="/js/login.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/modal.html") %>
    
    <div class="d-flex col-md-8 col-lg-6 col-xxl-4 offset-md-2 offset-lg-3 offset-xxl-4 align-items-center">
        <div id="div-login" class="div-rounded div-auth d-flex flex-column align-items-center w-100 bg-riu-white">
            <img src="/img/logo.png" alt="Logo RIU" width="225">
            <h1 id="h1-login" class="font-bold">Inicia sesión</h1>
            <!-- Formulario login -->
            <form id="form-login" method="POST" action="/login" class="d-flex flex-column w-50">
                <input id="input-mail" name="mail" value="<%= mail %>" type="email" placeholder="Correo">
                <input id="input-password" name="password" type="password" placeholder="Contraseña">
                <input id="input-sb-login" type="submit" value="Inicia sesión" class="bg-riu-primary button-riu button-auth align-self-center">
            </form>
            <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
        </div>
    </div>
</body>

</html>