<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
</head>

<body>
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>

    <!-- Importar footer -->
    <%- include("footer", { generalInfo: generalInfo }) %>
</body>

</html>