/* --- GENERAL --- */
body {
    background-color: var(--light-gray);
}

h1 {
    text-align: center;
    font-size: 3.5em;
    color: var(--primary-dark);
}

img {
    align-self: start;
    margin: 0rem 0rem 0rem 3rem;
}

a {
    color: var(--secondary-light);
}

.div-auth {
    margin: 3rem 0rem;
    border: none;
    box-shadow: 0rem 0rem 3rem 1rem var(--gray);
}

.button-auth {
    width: 12rem;
}

/* --- REGISTRO --- */
#div-sign-up {
    padding: 3rem 0rem;
}

#h1-sign-up {
    margin: 4rem 1rem 2rem 1rem;
}

#label-faculty {
    margin-top: 2rem;
}

#input-sb-sign-up {
    margin-top: 3rem;
}

/* --- LOGIN --- */
#div-login {
    padding: 3rem 0rem 10rem 0rem;
}

#h1-login {
    margin: 10rem 1rem 4rem 1rem;
}

#input-sb-login {
    margin-top: 4rem;
}

/* --- RESPONSIVENESS --- */

/* Monitores más largos */
@media (max-width: 1920.02px) {
    h1 {
        font-size: 3rem;
    }

    img {
        width: 10rem;
    }
}

/* Móviles - MD */
@media (max-width: 768.02px) {
    h1 {
        font-size: 2.5rem;
    }

    img {
        align-self: center;
        margin: 0rem;
    }

    .div-auth {
        margin: 0rem;
        padding: 3rem 0rem 0rem 0rem;
        border-radius: 0rem;
        box-shadow: none;    
        background-color: var(--light-gray) !important;    
    }

    #h1-login {
        margin: 4rem 1rem 2rem 1rem;
    }
}