/* --- GENERAL --- */

hr {
    margin-bottom: 2rem !important;
}

.div-reservations {
    padding: 4rem 4rem;
}

.div-reservations h2 {
    font-size: 1.5rem;
}

.div-reservation-extended p {
    margin-bottom: 0rem;
}

.p-queue-message {
    margin: 1rem;
    margin-bottom: 0rem;
}

.button-cancel-reservation {
    margin: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.5rem !important;
    width: 7rem;
}

/* Accordions */
.accordion-item {
    margin: 1rem 0rem;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--black) !important;
    background-color: var(--primary-light) !important;
}

.old {
    background-color: var(--reservations-gray) !important;
}

.old.accordion-button:not(.collapsed) {
    color: var(--black) !important;
    background-color: var(--gray) !important;
}

/* Información de la reserva */
.div-reservation-info {
    margin-left: 1rem;
}

.div-reservation-info img {
    margin-left: 0.5rem;
}

/* --- Modal Cancelar --- */

.button-modal-cancel {
    padding: 0.5rem 1.3rem;
    border: none;
    border-radius: 2rem;
    color: var(--white);
}

/* --- ADMIN --- */
#div-admin-reservations-container {
    margin-bottom: 3rem;
}

#h1-admin-reservations {
    margin: 3rem 0rem 0rem 4rem;
}

#form-filter-reservations {
    padding-left: 4rem;
}

#form-filter-reservations label {
    margin-top: 0.5rem;
}

#input-sb-filter {
    align-self: center;
    margin-top: 2rem;
    width: 8em;
}

.p-filter {
    margin: 0rem 0.5rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    background-color: var(--primary-light);
    color: var(--white);
}

#div-results {
    padding-right: 10rem;
}

#div-results-header p {
    margin-bottom: 1rem;
}

#div-reservations-results {
    padding: 0rem;
}

/* --- RESPONSIVENESS --- */
/* Monitores largos - XXL */
@media (max-width: 1399.98px) {
    .accordion-body {
        flex-direction: column !important;
    }

    .div-old-reservation-date {
        align-items: start !important;
    }

    .div-reservation-info-main {
        flex-direction: column !important;
    }

    #div-results-header {
        flex-direction: column;
    }
}

/* Monitores laptop - XL */
@media (max-width: 1199.98px) {
    .div-modal-cancel {
        justify-content: start !important;
    }
    
    .button-cancel-reservation {
        margin-top: 1rem;
    }

    #div-filters {
        flex-direction: column;
    }
}

/* Tablets - LG */
@media (max-width: 991.98px) {
    #div-reservations-container {
        flex-direction: column !important;
    }

    #div-current-reservations {
        padding-bottom: 2rem;
    }

    #div-old-reservations {
        padding-top: 0rem;
    }

    #div-admin-reservations-container {
        flex-direction: column;
    }

    #form-filter-reservations {
        padding: 0rem 3rem;
    }

    #div-results {
        padding: 0rem 3rem;
    }

    #div-results-header {
        margin-top: 2rem;
    }

    #div-filters {
        display: none !important; 
     }
}

/* Móviles - SM */
@media (max-width: 575.98px) {
    #div-current-reservations {
        padding: 3rem 1rem 2rem 1rem;
    }

    #div-old-reservations {
        padding: 0rem 1rem 4rem 1rem;
    }

    .div-reservations h2 {
        font-size: 1.1rem;
    }

    #h1-admin-reservations {
        margin: 3rem auto 0rem auto;
    }

    #form-filter-reservations {
        padding: 0rem 2rem;
    }

    #div-results {
        padding: 0rem 2rem;
    }
}