/* --- PALETA COLORES --- */
:root {
    /* Colores básicos */
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #EFE8E7;
    --gray: #727272;
    --dark-gray: #454545;
    --red: #B92525;
    --green: #157824;
    --light-green: #eaf9ee;

    /* Colores parametrizables */
    --primary-h: 0;
    --primary-s: 45%;
    --primary-l: 35%;
    --secondary-h: 215;
    --secondary-s: 43%;
    --secondary-l: 27%;
    --filter-dark: 0.6; /* Oscurecer un 40% */
    --filter-light: 2; /* Aclarar un 100% */
  
    /* Construimos los colores */
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --primary-dark: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * var(--filter-dark)));
    --primary-light: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * var(--filter-light)));
    --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) * var(--filter-dark)));
    --secondary-light: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) * var(--filter-light)));
   
    /* Otros colores */
    --footer-gray: #bababa;
}

/* --- GENERAL --- */
* {
    font-family: Tahoma;
}

body {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:hover {
    filter: brightness(85%);
}

img {
    object-fit: cover;
}

hr {
    height: 0.1rem;
    opacity: 80%;
    color: var(--primary-dark) !important;
}

/* --- BACKGROUND --- */

.bg-riu-primary { /* [!] CONFIGURABLE */
    background-color: var(--primary);
}

.bg-riu-secondary { /* [!] CONFIGURABLE */
    background-color: var(--secondary);
}

.bg-riu-primary-dark { /* [!] CONFIGURABLE */
    background-color: var(--primary-dark);
}

.bg-riu-secondary-dark { /* [!] CONFIGURABLE */
    background-color: var(--secondary-dark);
}

.bg-riu-primary-light { /* [!] CONFIGURABLE */
    background-color: var(--primary-light);
}

.bg-riu-secondary-light { /* [!] CONFIGURABLE */
    background-color: var(--secondary-light);
}

.bg-riu-white {
    background-color: var(--white);
}

.bg-riu-black {
    background-color: var(--black);
}

.bg-riu-light-gray {
    background-color: var(--light-gray);
}

.bg-riu-gray {
    background-color: var(--gray);
}

.bg-riu-dark-gray {
    background-color: var(--dark-gray);
}

.bg-riu-red {
    background-color: var(--red);
}

.bg-riu-green {
    background-color: var(--green);
}

.bg-riu-light-green {
    background-color: var(--light-green);
}

/* --- INPUT --- */
label {
    color: var(--gray);
}

input, select {
    margin: 0.4rem 0rem;
    padding: 0.3rem 0.6rem;
    border: 0.15rem var(--primary-dark) solid;
    border-radius: 0.6rem;
}
::placeholder {
    color: var(--gray);
}

/* --- BUTTON --- */
.button-riu {
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    color: var(--white);
}

.button-riu:hover {
    background-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * 0.8));
}

/* --- Otros --- */

.div-rounded {
    border-radius: 2em;
}

/* --- Modal Response --- */
#button-modal-error-x {
    border: none;
    background: none;
}

#button-modal-error-ok {
    padding: 1rem 2rem;
} 

#button-modal-error-ok:hover {
    background-color: var(--primary);
} 

#h1-modal-error {
    margin-left: 1rem !important;
    font-size: 1.3rem;
}

/* --- NAV --- */

nav {
    padding: 0.6rem 2rem;
}

#a-nav {
    text-decoration: none;
    color: var(--white);    
}

#h1-nav {
    margin: 0rem 0rem 0rem 1rem;
    font-size: 1.5rem;
}

.dropdown button {
    margin-left: 1rem;
    border: none;
    background: none;
}

/* --- FOOTER --- */

footer {
    margin-top: auto;
    padding: 1.5rem 2rem;
    color: var(--footer-gray);
}

footer a {
    color: var(--footer-gray);
}

#p-footer-name {
    font-size: 1.3rem;
}

#div-footer-info {
    margin-left: 3rem;
}

/* --- RESPONSIVENESS --- */

/* Monitores más largos */
@media (max-width: 1920.02px) {
    
}

/* Monitores largos - XXL */
@media (max-width: 1400.02px) {

}

/* Monitores laptop - XL */
@media (max-width: 1200.02px) {

}

/* Tablets - LG */
@media (max-width: 992.02px) {
    #h1-nav {
        display: none;
    }

    #div-footer-left {
        flex-direction: column;
        text-align: center;
    }

    #div-footer-info {
        margin-left: 0rem;
    }
}

/* Móviles - MD */
@media (max-width: 768.02px) {
    #a-nav-mail {
        display: none;
    }

    #button-nav-profile {
        display: none;
    }

    #button-nav-hamburger {
        display: block !important;
    }

    #li-nav-mail {
        display: block !important;
    }

    footer {
        flex-direction: column;
    }

    #img-footer-logo-riu {
        align-self: center !important;
        margin-top: 1rem
    }
}